body {
    background-color: #bfd9df;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    font-family:'Courier New', Courier, monospace;
}

.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p{
    color:#000000;
    font-style:italic;
    text-decoration: dashed;
}

.social{
    background: #6fe5ee;
    padding: 13px;
    border: 5px solid rgb(57, 211, 216);
    margin: 15px;;
    border-radius: 20px;
}

.cont{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.info{
    display: flex;
    padding: 13px;
    margin-bottom: 20px;
    border-radius:20px;
    background:#8dec8d;
    border: 5px solid rgb(53, 105, 18);
}

.info-text h4{
    margin-bottom: 10px;
}

.info-text{
    margin-left: 50px;
}

.list{
    padding: 0 20px;   
}

.list li{
    color:black;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.contact h2{
    text-align: center;
}

.form label{
    display:block;
    font-size: 14px;
    color:rgb(8, 0, 1);
}

.form input, .form textarea{
    width:100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000000;
    color: black;
    padding:15px 0 10px;
    outline: none;
    font-family: inherit;
}

.btn{
    background:#6fe5ee;
    padding: 15px 20px;
    color:rgb(53, 105, 18);
    font-family: inherit;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}



.btn:hover{
    opacity: 0.9;
}

@media (max-width: 700px){
    .info{
        text-align: center;
        display: block;
    }
}